<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="robot" />
    <group ns="$(arg robot)">
        <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="true" output="screen">
            <param name="calibrate_time" type="bool" value="true" />
            <param name="port" type="string" value="/dev/ttyACM0" />
            <param name="intensity" type="bool" value="false" />
            <param name="frame_id" type="string" value="laser_back" />
            <param name="max_ang" type="double" value="1.57" />
            <param name="min_ang" type="double" value="-1.57" />

            <remap from="scan" to="scan_back" />
        </node>

        <!-- publish the required transform /base_link -> /laser_back -->
        <node name="back_laser_tf_broadcaster" pkg="tf" type="static_transform_publisher"
            args="-0.15 0 0.44   -3.141592654 0 0   base_link   laser_back  100" />
    </group>
</launch>
