<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="robot" />

    <group ns="$(arg robot)">
        <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="true" output="screen">
            <param name="calibrate_time" type="bool" value="true" />
            <param name="frame_id" type="string" value="hokuyo_link" />
            <param name="intensity" type="bool" value="false" />
            <param name="max_ang" type="double" value="1.57" />
            <param name="min_ang" type="double" value="-1.57" />
            <param name="port" type="string" value="/dev/ttyACM0" />

            <remap from="scan" to="scan_back" />
        </node>
    </group>
</launch>
