<?xml version="1.0"?>

<launch>
    <arg name="robot" />

    <group ns="$(arg robot)">
        <!-- Run teleoperation -->
        <include file="$(find maggie_teleop)/launch/teleop_joy.launch" />

        <!-- Run slam -->
        <node pkg="gmapping" name="gmapping" type="slam_gmapping" respawn="false" output="screen">
            <param name="scan" value="scan_filtered" />
            <param name="_odom_frame" value="odom" />
        </node>
    </group>

    <!-- Maggie Bringup -->
    <include file="$(find maggie_bringup)/launch/maggie_start_basic.launch" />

    <!-- Run Maggie base -->
    <include file="$(find maggie_base)/launch/base.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- Run laser driver -->
    <include file="$(find maggie_navigation_config)/launch/laser/sick.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- Run move_base -->
    <include file="$(find maggie_navigation_config)/launch/move_base.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>
</launch>
