<launch>
    <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="true" output="screen">
        <param name="calibrate_time" type="bool" value="true"/>
        <param name="port" type="string" value="/dev/ttyACM0"/>
        <param name="intensity" type="bool" value="false"/>
        <param name="frame_id" type="string" value="laser_rear"/>
        <param name="max_ang" type="double" value="3.1415"/>
        <param name="min_ang" type="double" value="-3.1415"/>
    </node>

	<!-- publish the required transform /base_link -> /laser_rear -->
    <node name="laser_tf_broadcaster" pkg="tf" type="static_transform_publisher" args="-0.15 0 0.5   3.14159 0 0   base_link  	laser_rear   100" />
</launch>
