<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="robot" />

    <!-- ODOMETRY + MOVEMENT (BASE CONTROLLER) -->
    <include file="$(find maggie_base)/launch/base.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- NAVIGATION -->
    
    <!--- Run AMCL -->
    <include file="$(find maggie_navigation_config)/launch/amcl.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!--- Movement Planner -->
    <include file="$(find maggie_navigation_config)/launch/move_base.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>
</launch>
