<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="robot"/>

    <group ns="$(arg robot)">
        <rosparam file="$(find maggie_navigation_config)/config/initial_pose.yaml" ns="initial_pose" />

        <node pkg="maggie_navigation_config" name="initial_status_sender" type="initial_status_sender.py"
            output="screen" />
    </group>
</launch>
