<launch>
    <arg name="robot" />
    <group ns="$(arg robot)">
        <!-- Run the map server, change the map server to point to a map you've created -->
        <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/> -->
        
        <!-- Throttle the voxel grid that is being published for rviz -->
        <!-- <node pkg="topic_tools" type="throttle" ns="move_base_node/local_costmap" name="voxel_grid_throttle" args="messages 
            voxel_grid 3.0 voxel_grid_throttled" /> -->
        
        <!--- Run AMCL -->
        <!-- <include file="$(find amcl)/examples/amcl_diff.launch" /> -->
        
        <!-- move base -->
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find maggie_navigation_config)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find maggie_navigation_config)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find maggie_navigation_config)/config/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find maggie_navigation_config)/config/global_costmap_params.yaml" command="load" />
            <rosparam file="$(find maggie_navigation_config)/config/base_local_planner_params.yaml" command="load" />
        </node>
        
    </group>
</launch>
